.type-6 .vc_row {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
}
.type-6 .vc_row .parallax-image {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 7px 15px rgba(0,0,0,0.42);
  border: 7px solid #fff;
  background-color: #fff;
  max-width: 260px;
  height: auto;
}
.type-6 .vc_row .parallax-image:nth-of-type(1) {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.type-6 .vc_row .pt1 {
  position: absolute;
  top: -80.959px;
  left: 12%;
  z-index: 1;
}
.type-6 .vc_row .pt2 {
  position: absolute;
  top: 140.038px;
  left: 24%;
}
.type-6 .vc_row .pt3 {
  left: 17%;
  top: 57px;
  z-index: 1;
}
.type-6 .vc_row a {
  text-decoration: none;
}
.type-6 .vc_row .parallax-image:nth-of-type(2) {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
.type-6 .vc_row .parallax-image:nth-of-type(3) {
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
}
.type-6 .vc_row .vc_column-inner {
  padding-top: 0;
}
.type-6 .vc_row h2 {
  line-height: 1.2;
  position: relative;
  font-family: 'Domine';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 3rem;
  color: #363d40;
}
.type-6 .vc_row h2 small {
  color: inherit;
  font-size: 50%;
  font-weight: normal;
  display: block;
  opacity: 0.8;
  line-height: 1.2;
}
.type-6 .vc_row p {
  margin: 2.8rem 0 1.4rem;
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: none;
  font-size: 1.4rem;
  margin-top: 0;
  color: #667279;
}
.type-6 .vc_custom_1456180226251 {
  background: url(../images/bg-parallax-3.jpg) !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.type-6 a {
  color: #363d40;
  font-weight: bold;
  margin-left: -13px;
}
.type-6 a:hover {
  color: #667279;
}
.type-6 .wpb_wrapper {
  margin: 120px 0;
}
@media (max-width: 768px) {
  .type-6 .wpb_wrapper {
    padding: 0 20px;
  }
  .type-6 .wpb_wrapper p {
    font-size: 1.7rem;
    margin-top: 20px;
  }
  .type-6 .wpb_wrapper .title {
    font-size: 4rem;
  }
  .type-6 .wpb_wrapper .btn {
    font-size: 1.8rem;
    margin-top: 20px;
  }
}
