.type-5 #junior_suite {
  position: relative;
  box-sizing: border-box;
}
.type-5 #pic_1 {
  background-image: url(../images/bg-rooms-2.jpg) !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.type-5 .vc_row {
  margin-bottom: 0;
}
.type-5 .vc_row:not(.vc_grid):not(.vc_inner) {
  padding-bottom: 9.8rem;
  padding-top: 9.8rem;
}
.type-5 .vc_column-inner {
  padding-top: 0;
}
.type-5 figure {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}
.type-5 .white-box {
  border-radius: 2px;
  background-color: rgba(255,255,255,0.85);
}
.type-5 .content-padding {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3.6rem;
  padding-bottom: 6rem;
}
.type-5 h2 {
  line-height: 1.2;
  margin: 2.8rem 0 1.4rem;
  position: relative;
  font-family: 'Domine';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 3rem;
  color: #363d40;
}
.type-5 h2 small {
  color: inherit;
  font-size: 50%;
  font-weight: normal;
  display: block;
  opacity: 0.8;
  line-height: 1.2;
}
.type-5 p {
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: none;
  font-size: 1.4rem;
  color: #667279;
}
.type-5 .fa {
  color: #c0392b;
  font-size: 1.4em;
  margin-left: -20px;
  margin-right: 15px;
}
.type-5 ul {
  margin: 2.8rem 0 1.4rem;
  color: #667279;
}
.type-5 .list-pointer {
  list-style: none;
  padding-left: 2.2rem;
}
.type-5 .list-pointer li {
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: none;
  font-size: 1.4rem;
  color: #667279;
}
.type-5 a {
  color: #363d40;
}
.type-5 a:hover {
  -webkit-transition: all 200ms ease-in;
  color: #c0c0c0;
  transition: all 200ms ease-in;
  outline: none;
  text-decoration: none;
}
.type-5 .btn {
  font-family: 'Roboto';
  font-size: 1.4rem;
  font-weight: bold;
}
.type-5 .btn-inline {
  padding: 0.9rem 0;
  display: inline-block;
  white-space: normal;
  border: none;
  background: transparent;
}
.type-5 .vc_single_image-img:hover {
  opacity: .8;
}
