.type-4 .vc_row:not(.vc_grid):not(.vc_inner) {
  padding-bottom: 9.8rem;
  padding-top: 9.8rem;
}
.type-4 .vc_column-inner {
  padding-top: 0;
}
.type-4 .wpb_content_element {
  margin-bottom: 2.8rem;
}
.type-4 h2 {
  line-height: 1.2;
  margin: 2.8rem 0 1.4rem;
  position: relative;
  font-family: 'Domine';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 3rem;
  text-align: center;
  color: #363d40;
}
.type-4 h2[style*='center'] {
  margin-bottom: 6.2rem;
}
.type-4 #line {
  content: '';
  display: block;
  position: relative;
  width: 6rem;
  border-bottom: .3rem solid;
  margin-top: 1.2rem;
  margin-left: -3rem;
  left: 50%;
  border-bottom-color: #c0392b;
}
.type-4 .table {
  margin: 2.8rem 0 1.4rem;
  text-align: center;
  color: #667279;
}
.type-4 .table td {
  border-top-color: rgba(102,114,121,0.1);
}
.type-4 .table td strong {
  font-weight: 500;
}
.type-4 .btn,
.type-4 input[type=submit] {
  font-weight: 500;
  height: auto;
  padding: 1rem 2.8rem;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  outline: none !important;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 1.4rem;
}
